{{#each conversation}}
<form action="/conversations/{{conversationID}}" method="GET">
    <button type='submit'>
        <div class="conversation_box">
            <img src="{{image}}">
            <p class="topic">{{topic}}</p>
            <p class="name">{{fname}}{{lname}}</p>
            <p class="date">{{#date this.date}}{{/date}}</p>
            <br>
        </div>
    </button>
</form>
{{/each}}