<div id="home_container">

    <div id="user_info">
        <img src="{{user.image}}">
        <p><b>{{user.fname}} {{user.lname}}</b></p>
        <p>{{user.description}}</p>
        <table align="center">
            <tr>
                <td><a href="/profile/{{user.userID}}">Posts</a></td>
                <td>3</td>
            </tr>
            <tr>
                <td>Messages</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Likes</td>
                <td>{{user.likes}}</td>
            </tr>
        </table>
        <a href="/moreDetails">Edit Profile</a>
    </div>

    <div id="post_page"> 
        <div id="new_post">
            <p>whats your question today?</p>
            <form action="/newPost" method="POST">
                <input type="text" placeholder="subject" name="subject" required>
                <textarea type="text" placeholder="explain in detail..." name="detail" required></textarea>
                <select required name="topic">
                    <option value="" selected>Topic</option>
                    <option value="php">PHP</option>
                    <option value="nodejs">NodeJS</option>
                    <option value="java">Java</option>
                    <option value="sql">SQL</option>
                    <option value="zend">Zend</option>
                </select>
                <button type="submit">Post to Timeline</button>
            </form>
        </div>

        <div id="search_topic">
            <p>Search by topic </p>
            <form action="/searchTopic" method="POST">
                <select required name="topic">
                    <option value="" selected>Topic</option>
                    <option value="php">PHP</option>
                    <option value="nodejs">NodeJS</option>
                    <option value="java">Java</option>
                    <option value="sql">SQL</option>
                    <option value="zend">Zend</option>
                </select>
                <button type="submit"><b>go -></b></button>
            </form>
        </div>

        <div id="latest_posts">
            {{#if search}}
                <p>Search Results</p>
            {{else}}
                <p>Latest Discussions</p>
            {{/if}}
            
            {{>posts_section}}
        </div>
    </div>

</div>